<header class="header">
  <nav class="navbar">
    <div class="navbar-brand">
      <a class="navbar-item" href="{{{or site.url siteRootPath}}}">{{site.title}}</a>
      {{#if env.SITE_SEARCH_PROVIDER}}
      <div class="navbar-item search hide-for-print">
        <div id="search-field" class="field">
          <input id="search-input" type="text" placeholder="Search the docs"{{#if page.home}} autofocus{{/if}}>
        </div>
      </div>
      {{/if}}
      <button class="navbar-burger" data-target="topbar-nav">
        <span></span>
        <span></span>
        <span></span>
      </button>
    </div>
     <div id="topbar-nav" class="navbar-menu">
         <script>
         function submitEmail(e) {
            console.log("calling function...");
            e.preventDefault();
            fetch("https://script.google.com/macros/s/AKfycbytbtdcLPPef-Fxefdr1hRAMldbhaIrr9cyIEsgw5pouwW5OoHw/exec",
            {
            method: "POST",
            body: event.target.elements.theEmail.value,
            headers: {
            "Content-Type": "text/plain"
            }
            })
            .catch((error) => {
                console.log(`Error submitting email: ${error}`);
            })
            .then(response => console.log("Response ...."));
         }
         </script>
         <form onsubmit="submitEmail(event)">
<!--             <label for="mailingList"></label>-->
             <input type="email" id="theEmail" name="theEmail">
             <input type="submit" value="Subscribe">
         </form>
     </div>
  </nav>
</header>
